<!--Banner-->
<div class="contain-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" *ngFor="let poster of banner, let i=index" [ngClass]="{active:i===1}">
                <img src="https://image.tmdb.org/t/p/w500/{{poster.backdrop_path}}" class="d-block w-100" alt="...">
                <div id="bannerTitle" class="carousel-caption d-none d-md-block">
                    <h2>{{poster.title}}</h2>
                    <p>{{poster.overview}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--End-->

<!--Trending-->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Trending Movies</h5>
        <div id="rowposter" class="rowposter mt-3 p-2">
            <ng-container *ngFor="let tr of trending">
                <img src="https://image.tmdb.org/t/p/w500/{{tr.poster_path}}" class="rowimg largeposter" alt=""
                [routerLink]="['/movie', tr.id]">
                
            </ng-container>
            <span id="slideLeft" class="carousel-control-prev-icon icn" aria-hidden="true" (click)="slideLeft()"></span>
            <span id="slideRight" class="carousel-control-next-icon icn" aria-hidden="true" (click)="slideRight()"></span>
        </div>
        
    </div>
</div>

<!--Upcoming-->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Upcoming Movies</h5>
        <div id="rowposter1" class="rowposter mt-3 p-2">
            <ng-container *ngFor="let up of upcoming">
                <img src="https://image.tmdb.org/t/p/w500/{{up.poster_path}}" class="rowimg largeposter" alt=""
                    [routerLink]="['/movie', up.id]">

            </ng-container>
            <span id="slideLeft" class="carousel-control-prev-icon icn" aria-hidden="true" (click)="slideLeft1()"></span>
            <span id="slideRight" class="carousel-control-next-icon icn" aria-hidden="true"
                (click)="slideRight1()"></span>
        </div>

    </div>
</div>

<!--Top Rated-->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Top Rated Movies</h5>
        <div id="rowposter2" class="rowposter mt-3 p-2">
            <ng-container *ngFor="let top of topRated">
                <img src="https://image.tmdb.org/t/p/w500/{{top.poster_path}}" class="rowimg largeposter" alt=""
                    [routerLink]="['/movie', top.id]">

            </ng-container>
            <span id="slideLeft" class="carousel-control-prev-icon icn" aria-hidden="true" (click)="slideLeft2()"></span>
            <span id="slideRight" class="carousel-control-next-icon icn" aria-hidden="true"
                (click)="slideRight2()"></span>
        </div>

    </div>
</div>